<div ng-controller="BoxCtrl">
    <ui-page-header title="'admin.modules.core.warehouse.box.title'"
                    subtitle="'admin.modules.core.warehouse.box.subtitle'"
                    breadcrumbs="[{'text': 'admin.modules.core.warehouse.box.title'}]"></ui-page-header>

    <ui-page-content>
        <ui-page-content-header-left>
            <ui-search placeholder="admin.modules.core.users.searchTips"
                       on-cancel="cancelSearch()"
                       on-search="search(__model)"></ui-search>
        </ui-page-content-header-left>

        <ui-page-content-header-right>
            <button type="button" class="btn btn-sm btn-primary" ng-click="add()">
                <i class="fa fa-fw fa-plus-circle"></i>
                <span ng-bind="'admin.modules.core.box.addBox'|translate"></span>
            </button>
        </ui-page-content-header-right>

        <ui-page-content-footer>
            <bn-ui-pager ng-model="pager" on-page="pageSearch(page)"></bn-ui-pager>
        </ui-page-content-footer>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="col-icon"></th>
                <th ng-bind="'admin.modules.core.warehouse.fieldReference'|translate"></th>
                <th ng-bind="'admin.modules.core.warehouse.fieldCreatedAt'|translate"></th>
                <th ng-bind="'admin.modules.core.warehouse.fieldLastUpdate'|translate"></th>
                <th class="text-center"
                    ng-bind="'common.enable'|translate"></th>
                <th class="text-center"
                    ng-bind="'common.delete'|translate"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in pager.content">
                <td>
                    <span class="fa"
                          title="{{ item.userProfile.gender == '1' ? 'admin.modules.core.userProfile.valueMale' : (item.userProfile.gender == '0' ? 'admin.modules.core.userProfile.valueFemale' : '') |translate}}"
                          ng-class="{'fa-mars text-blue': item.userProfile.gender == '1', 'fa-venus text-red': item.userProfile.gender == '0'}"></span>
                </td>
<!--                <td ng-bind="item.username"></td>-->
<!--                <td>-->
<!--                    <a ng-click="editRoles(item)" ng-if="!item.superAdmin">-->
<!--                        <span ng-repeat="role in item.roles">-->
<!--                            <span class="label label-info" ng-bind="role.name"></span>&nbsp;-->
<!--                        </span>-->
<!--                        <em ng-if="item.roles && item.roles.length == 0"-->
<!--                            ng-bind="'admin.modules.core.users.noRoles'|translate"></em>-->
<!--                    </a>-->
<!--                    <span ng-if="item.superAdmin">-->
<!--                        <span ng-repeat="role in item.roles">-->
<!--                            <span class="label label-info" ng-bind="role.name"></span>&nbsp;-->
<!--                        </span>-->
<!--                        </span>-->
<!--                </td>-->
                <td>
                    <span ng-bind="item.reference"></span>
                </td>
                <td ng-bind="item.createDate | date: 'yyyy-MM-dd HH:mm'"></td>
                <td ng-bind="item.lastUpdate | date: 'yyyy-MM-dd HH:mm'"></td>
                <td class="text-center" ng-if="!item.superAdmin">
                    <a ng-click="toggleEnabled(item)">
                        <i class="glyphicon glyphicon-check text-success ng-cloak" ng-if="item.enabled"></i>
                        <i class="glyphicon glyphicon-unchecked ng-cloak" ng-if="!item.enabled"></i>
                    </a>
                </td>
                <td class="text-center" ng-if="!item.superAdmin">
                    <a ng-click="remove(item)">
                        <i class="glyphicon glyphicon-trash text-danger"></i>
                    </a>
                </td>
                <td class="text-center" colspan="2" ng-if="item.superAdmin">
                    {{'admin.modules.core.users.disableEditForSuperAdmin'|translate}}
                </td>
            </tr>
            </tbody>
        </table>
        <ui-no-data ng-if="pager.content.length==0"></ui-no-data>
    </ui-page-content>

    <div id="dialogForm" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="closeDialog()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span ng-if="formModel.id" ng-bind="'admin.modules.core.roles.editRole'|translate"></span>
                        <span ng-if="!formModel.id" ng-bind="'admin.modules.core.roles.addRole'|translate"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="form">
                        <div layout="row">
                            <md-input-container flex="30">
                                <label>
                                    <span ng-bind="'admin.modules.core.warehouse.fieldBoxReference'|translate"></span>
                                </label>
                                <input name="boxReference" required ng-model="formModel.boxReference"/>
                                <div ng-messages="form.name.$error">
                                    <div ng-message="required" ng-bind="'common.msgRequired'|translate"></div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="30">
                                <label>
                                    <span ng-bind="'admin.modules.core.warehouse.fieldShelfReference'|translate"></span>
                                </label>
                                <input name="shelfReference" required ng-model="formModel.shelfReference"/>
                                <div ng-messages="form.name.$error">
                                    <div ng-message="required" ng-bind="'common.msgRequired'|translate"></div>
                                </div>
                            </md-input-container>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeDialog()"
                                ng-bind="'common.close'|translate"></button>
                        <button type="button" class="btn btn-primary"
                                ng-disabled="form.$invalid"
                                ng-bind="'common.saveChanges'|translate"
                                ng-click="save()">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>